*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.bcf
*.fdb_latexmk
*.fls
*.lox
*.run.xml
*.thm
*.synctex.gz
.DS_Store
